@font-face {
    font-family: "Densmore";
    src: url("/fonts/densmore.otf");
}

.fuente {
    font-family: "Densmore";
    --tw-text-opacity: 1;
    color: rgb(30 64 175 / var(--tw-text-opacity));
}