<form method="post">
    <div class="grid place-items-center my-5">
        <div class="max-w-2xl rounded overflow-hidden shadow-lg">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">
                    <label for="titulo">Titulo:</label>
                    <input type="text" name="titulo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
                </div>
                <div>
                    <p class="text-gray-700 text-base">
                        <label for="descripcion">Descripción:</label>
                        <input type="text" name="descripcion" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
                    </p>
                </div>
                <div class="px-6 py-4 text-center">
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</form>